/.vs
/BE/Apex.Web/.vs/Apex.Web/v15
/BE/Apex.Web/.vs/Apex.Web/DesignTimeBuild
/BE/Apex.Web/Apex.Core/bin/Debug/netcoreapp2.1
/BE/Apex.Web/Apex.Core/obj
/BE/Apex.Web/Apex.Domain/bin/Debug/netcoreapp2.1
/BE/Apex.Web/Apex.Domain/obj
/BE/Apex.Web/Apex.Dto/bin/Debug/netcoreapp2.1
/BE/Apex.Web/Apex.Dto/obj
/BE/Apex.Web/Apex.NotifyService/bin/Debug/netcoreapp2.1
/BE/Apex.Web/Apex.NotifyService/obj/Debug/netcoreapp2.1
/BE/Apex.Web/Apex.NotifyService/obj
/BE/Apex.Web/Apex.Web/bin/Debug/netcoreapp2.1
/BE/Apex.Web/Apex.Web/obj
/BE/Apex.Web/Apex.Web/appsettings.Development.json
/BE/Apex.Web/Apex.Web/ClientApp/dist
/BE/Apex.Web/Apex.Web/ClientApp/node_modules
/BE/CSharp.JWT/bin/Debug/netcoreapp2.1
/BE/CSharp.JWT/obj
/BE/Apex.Web/Apex.Common/bin
/BE/Apex.Web/Apex.Common/obj
/BE/Apex.Web/Apex.Web/node_modules
/BE/Apex.Web/Apex.Core/bin/Release/netcoreapp2.1
/BE/Apex.Web/Apex.Domain/bin/Release/netcoreapp2.1
/BE/Apex.Web/Apex.Dto/bin/Release/netcoreapp2.1
/BE/Apex.Web/Apex.NotifyService/bin/Release/netcoreapp2.1/Templates
/BE/Apex.Web/Apex.NotifyService/bin/Release/netcoreapp2.1
/BE/Apex.Web/Apex.Web/bin/Release/netcoreapp2.1
/BE/CSharp.JWT/bin/Release/netcoreapp2.1
/BE/Apex.Web/Apex.Web/wwwroot/dist
/BE/Apex.Web/Apex.Web/bin/publish
/BE/Apex.Web/Apex.Core/bin/FE/netcoreapp2.1/*.dll
/BE/Apex.Web/Apex.Core/bin/FE/netcoreapp2.1/*.pdb
/BE/Apex.Web/Apex.Core/bin/FE/netcoreapp2.1/*.json
/BE/Apex.Web/Apex.Core/bin/FE/netcoreapp2.1/Templates/*.html
/BE/Apex.Web/Apex.Domain/bin/FE/netcoreapp2.1/*.dll
/BE/Apex.Web/Apex.Domain/bin/FE/netcoreapp2.1/*.pdb
/BE/Apex.Web/Apex.Domain/bin/FE/netcoreapp2.1/*.json
/BE/Apex.Web/Apex.Dto/bin/FE/netcoreapp2.1/*.dll
/BE/Apex.Web/Apex.Dto/bin/FE/netcoreapp2.1/*.pdb
/BE/Apex.Web/Apex.Dto/bin/FE/netcoreapp2.1/*.json
/BE/Apex.Web/Apex.NotifyService/bin/FE/netcoreapp2.1/*.json
/BE/Apex.Web/Apex.NotifyService/bin/FE/netcoreapp2.1/*.dll
/BE/Apex.Web/Apex.NotifyService/bin/FE/netcoreapp2.1/*.pdb
/BE/Apex.Web/Apex.NotifyService/bin/FE/netcoreapp2.1/Templates/*.html
/BE/Apex.Web/Apex.Web/*.txt
/BE/Apex.Web/Apex.Web/bin/FE/netcoreapp2.1/*.dll
/BE/Apex.Web/Apex.Web/bin/FE/netcoreapp2.1/*.pdb
/BE/Apex.Web/Apex.Web/bin/FE/netcoreapp2.1/*.json
/BE/Apex.Web/Apex.Web/bin/FE/netcoreapp2.1/StaticFiles/*.xml
/BE/Apex.Web/Apex.Web/bin/FE/netcoreapp2.1/Templates/*.html
/BE/Apex.Web/Apex.Web/bin/FE/netcoreapp2.1/Views/Home/*.cshtml
/BE/CSharp.JWT/bin/FE/netcoreapp2.1/*.json
/BE/CSharp.JWT/bin/FE/netcoreapp2.1/*.dll
/BE/CSharp.JWT/bin/FE/netcoreapp2.1/*.pdb
/BE/Apex.Web/Apex.ModelBase/obj
/BE/Apex.Web/Apex.ModelBase/bin
/BE/Apex.Web/Apex.Web/*.user
/BE/Apex.Web/Apex.Web/wwwroot/tmp
/BE/Apex.Web/Apex.Web/StaticFiles/orders
/BE/Apex.Web/Apex.Web/logs/debugger/*.log
/BE/Apex.Web/Apex.Web/logs/error/*.log
/BE/Apex.Web/Apex.Web/logs/info/*.log
/BE/Apex.Web/Apex.Web/logs/warn/*.log
/BE/Apex.Web/.vs/Apex.Web/v16/*.suo
/BE/Apex.Web/.vs/Apex.Web/v16/Server/sqlite3/*.lock
/BE/Apex.Web/.vs/Apex.Web/v16/Server/sqlite3/*.ide
/BE/Apex.Web/.vs/Apex.Web/v16/Server/sqlite3/*.ide-shm
/BE/Apex.Web/.vs/Apex.Web/v16/Server/sqlite3/*.ide-wal
/FaceDetection/obj
/FaceDetection/bin
